<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455684890404-sr2ja9o5hsvclbpjnhb2mg777nncfgj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455684890404-sr2ja9o5hsvclbpjnhb2mg777nncfgj1</string>
	<key>API_KEY</key>
	<string>AIzaSyASVj6xpuZQ-PUrmqNKaoRXrMTuC6qpmhc</string>
	<key>GCM_SENDER_ID</key>
	<string>455684890404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexandrenoguez.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-5467f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-5467f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455684890404:ios:b4d1565b135e9212299db1</string>
</dict>
</plist>